* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    color: #ffcc00;
}

.nav-links a.active {
    background-color: #ffcc00;
    color: #333 !important;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #e0e0e0;
}

.hero h1 {
    font-size: 2.5em;
    color: #333;
}

.hero p {
    margin-top: 15px;
    font-size: 1.2em;
    color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.content-explanation {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px 40px;
}


.explanation-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.explanation-list li {
    font-size: 1.1em;
    line-height: 1.6;
    padding: 15px 20px;
    background-color: #ffffff;
    border-left: 7px solid #007bff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}



.content-section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.content-section h1 {
    color: #007bff;
    margin-bottom: 20px;
    border-bottom: 3px solid #007bff;
    padding-bottom: 10px;
}


.content-section h2 {
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
}

.intro {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.manifestacoes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.manifestacoes article {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fafafa;
}

.manifestacoes h3 {
    color: #ff6600;
    margin-bottom: 10px;
}

.content-section ul {
    list-style: none;
    padding-left: 0;
}

.content-section ul li {
    background: #ffe6cc;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #ff6600;
    border-radius: 4px;
}

h2 {
    text-align: center;
    margin-top: 30px;
}
